<img src="https://www3.um.edu.uy/logoum.jpg" width=300>
<h1 align="center">Thesis - Content-based algorithm</h1> 
<h2 align="center">Alejo Paullier</h2>

In [1]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 1M\\ratings.dat', sep='::',engine='python',
                      names=['user', 'item', 'rating', 'timestamp'])

ratings = ratings.drop(['timestamp'],axis=1)

rating = ratings.copy()

ratings.head(5)

   user  item  rating
0     1  1193       5
1     1   661       3
2     1   914       3
3     1  3408       4
4     1  2355       5

# Boolean ratings

In [2]:
boolean = ratings.copy()
boolean['rating'] = boolean['rating'].replace([1,2,3,4,5],1)
boolean.head()

   user  item  rating
0     1  1193       1
1     1   661       1
2     1   914       1
3     1  3408       1
4     1  2355       1

# Genres Matrix

In [3]:
genres = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 1M\\movies.dat', sep='::',engine='python',
                     names=['movieid', 'title', 'genre'])
idx = np.intersect1d(genres.movieid.values, rating.item.values)
genres = genres[genres['movieid'].isin(idx)]
genres = genres.join(genres.pop('genre').str.get_dummies())
genres = genres.drop(['title'],axis=1)
genres = genres.set_index('movieid')
genres = genres.divide(((((genres.T)**2).sum())**(1/2)),axis=0)
genres

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieid,,,,,,,,,,,,,,,,,,
1,0.0,0.00000,0.57735,0.57735,0.577350,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
2,0.0,0.57735,0.00000,0.57735,0.000000,0.0,0.0,0.000000,0.57735,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3,0.0,0.00000,0.00000,0.00000,0.707107,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.707107,0.0,0.000000,0.0,0.0
4,0.0,0.00000,0.00000,0.00000,0.707107,0.0,0.0,0.707107,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
5,0.0,0.00000,0.00000,0.00000,1.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948,0.0,0.00000,0.00000,0.00000,1.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3949,0.0,0.00000,0.00000,0.00000,0.000000,0.0,0.0,1.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3950,0.0,0.00000,0.00000,0.00000,0.000000,0.0,0.0,1.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3951,0.0,0.00000,0.00000,0.00000,0.000000,0.0,0.0,1.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
3952,0.0,0.00000,0.00000,0.00000,0.000000,0.0,0.0,0.707107,0.00000,0.0,0.0,0.0,0.0,0.000000,0.0,0.707107,0.0,0.0

# Pivot Ratings Matrix

In [4]:
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
OldMin = 1
OldMax = 5
NewMin = -1
NewMax = 1
ratings = (((ratings - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
ratings = ratings.fillna(0)
ratings

item,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,-0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.0,0.0,0.0,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Pivot Boolean matrix

In [5]:
boolean = boolean.pivot(index = 'user',columns='item',values ='rating')
boolean = boolean.fillna(0)
boolean

item,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Profile matrix

In [6]:
np.seterr(divide='ignore', invalid='ignore')
dot = boolean.values.dot(genres.values)
dot = pd.DataFrame(dot)
profile = pd.DataFrame((ratings).values.dot(genres.values), columns=genres.columns, index=(ratings).index)
profile = profile.values/(dot.values)
profile = pd.DataFrame(profile)
profile.columns = genres.columns
profile = profile.fillna(0)
profile

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.619819,0.515320,0.523755,0.613967,0.556525,0.500000,0.000000,0.715510,0.500000,0.000000,0.000000,0.645182,0.000000,0.286161,0.707107,0.366025,1.000000,0.000000
1,0.240274,0.368539,0.000000,0.000000,0.250480,0.283541,0.000000,0.472077,0.000000,0.500000,0.000000,0.000000,0.183013,0.359763,0.297945,0.241778,0.331694,0.666667
2,0.489912,0.519188,0.500000,0.500000,0.369219,0.000000,0.000000,0.488053,0.732051,0.000000,-0.109456,0.500000,0.000000,0.329367,0.388781,0.433934,0.500000,0.856256
3,0.624290,0.479342,0.000000,0.500000,0.000000,1.000000,0.000000,0.676454,0.750000,0.000000,0.698129,0.000000,0.000000,0.563508,0.293493,0.255547,0.240351,0.750000
4,-0.192259,0.040244,0.474745,0.385244,0.215802,0.144678,0.333333,0.036392,0.000000,0.558031,-0.074486,0.103741,0.043542,0.052879,0.062457,-0.080900,0.292092,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0.003768,0.008064,0.478249,0.220654,0.087992,0.261683,0.421661,0.252043,-0.007290,0.552008,0.013579,0.334237,0.193413,0.165804,-0.072086,0.074632,0.393658,0.374084
6036,0.283577,0.500000,0.500000,0.308963,0.268301,0.423248,0.500000,0.439158,0.625000,0.254333,0.542019,0.473961,0.368769,0.355564,0.319703,0.334058,0.500000,0.306542
6037,-0.112574,0.500000,0.333333,0.000000,0.455144,0.000000,0.000000,0.425264,0.000000,0.000000,-0.250000,0.000000,0.000000,0.598388,0.500000,0.000000,0.500000,0.000000
6038,0.476759,0.547952,0.318652,0.261793,0.362594,0.500000,0.000000,0.521886,0.257359,0.791131,0.500000,0.355740,0.606541,0.394812,0.601941,0.588135,0.539128,0.750000
6039,-0.040633,-0.065557,0.077350,0.488754,0.102702,0.470097,0.750000,0.416056,0.240123,0.504361,-0.223866,0.515792,0.729318,0.238932,0.270297,0.475812,0.360109,0.500000

# Compute Predictions

In [7]:
count = genres.sum(axis=1)
count = (pd.DataFrame(count))
prediction = pd.DataFrame((genres.values.dot((profile.T).values))/count.values, columns=(profile.T).columns, index=genres.index)
prediction = prediction.T
prediction.columns = ratings.columns
prediction.index = ratings.index
prediction

item,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user,,,,,,,,,,,,,,,,,,,,,
1,0.564749,0.543095,0.421343,0.636017,0.556525,0.495281,0.421343,0.564643,0.619819,0.500388,...,0.556525,0.636017,0.551014,0.567118,0.366025,0.556525,0.715510,0.715510,0.715510,0.540768
2,0.083493,0.122846,0.305122,0.361279,0.250480,0.255198,0.305122,0.184270,0.240274,0.283530,...,0.250480,0.361279,0.122846,0.318043,0.241778,0.250480,0.472077,0.472077,0.472077,0.356928
3,0.456406,0.583746,0.349293,0.428636,0.369219,0.307949,0.349293,0.509594,0.489912,0.481011,...,0.369219,0.428636,0.506396,0.470633,0.433934,0.369219,0.488053,0.488053,0.488053,0.460993
4,0.166667,0.576447,0.281754,0.338227,0.000000,0.626612,0.281754,0.489671,0.624290,0.453060,...,0.000000,0.338227,0.326447,0.518764,0.255547,0.000000,0.676454,0.676454,0.676454,0.466001
5,0.358597,0.141829,0.134341,0.126097,0.215802,-0.042827,0.134341,0.212744,-0.192259,-0.077638,...,0.215802,0.126097,0.300078,-0.078922,-0.080900,0.215802,0.036392,0.036392,0.036392,-0.022254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.262298,0.073809,0.126898,0.170018,0.087992,0.113361,0.126898,0.114359,0.003768,0.028821,...,0.087992,0.170018,0.235656,0.110148,0.074632,0.087992,0.252043,0.252043,0.252043,0.163338
6037,0.359088,0.477988,0.311933,0.353729,0.268301,0.346961,0.311933,0.404482,0.283577,0.372545,...,0.268301,0.353729,0.436321,0.352264,0.334058,0.268301,0.439158,0.439158,0.439158,0.386608
6038,0.262826,0.166667,0.526766,0.440204,0.455144,-0.037525,0.526766,0.250000,-0.112574,0.129142,...,0.455144,0.440204,0.277778,0.104230,0.000000,0.455144,0.425264,0.425264,0.425264,0.212632
6039,0.314347,0.355702,0.378703,0.442240,0.362594,0.521631,0.378703,0.404873,0.476759,0.537615,...,0.362594,0.442240,0.376133,0.528926,0.588135,0.362594,0.521886,0.521886,0.521886,0.555010
6040,0.222936,0.221107,0.170817,0.259379,0.102702,0.301759,0.170817,0.211599,-0.040633,0.123207,...,0.102702,0.259379,0.166849,0.283745,0.475812,0.102702,0.416056,0.416056,0.416056,0.445934

# Reset to 1-5 star scale

In [8]:
OldMin = -1
OldMax = 1
NewMin = 1
NewMax = 5
prediction = (((prediction - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
prediction

item,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user,,,,,,,,,,,,,,,,,,,,,
1,4.129498,4.086191,3.842685,4.272035,4.113049,3.990563,3.842685,4.129286,4.239637,4.000776,...,4.113049,4.272035,4.102028,4.134236,3.732051,4.113049,4.431020,4.431020,4.431020,4.081535
2,3.166986,3.245693,3.610243,3.722557,3.500959,3.510395,3.610243,3.368539,3.480548,3.567060,...,3.500959,3.722557,3.245693,3.636086,3.483556,3.500959,3.944155,3.944155,3.944155,3.713855
3,3.912813,4.167492,3.698586,3.857272,3.738438,3.615897,3.698586,4.019188,3.979824,3.962022,...,3.738438,3.857272,4.012792,3.941266,3.867867,3.738438,3.976105,3.976105,3.976105,3.921986
4,3.333333,4.152895,3.563508,3.676454,3.000000,4.253225,3.563508,3.979342,4.248580,3.906120,...,3.000000,3.676454,3.652895,4.037528,3.511095,3.000000,4.352909,4.352909,4.352909,3.932002
5,3.717194,3.283659,3.268681,3.252195,3.431604,2.914346,3.268681,3.425488,2.615483,2.844724,...,3.431604,3.252195,3.600155,2.842156,2.838200,3.431604,3.072785,3.072785,3.072785,2.955493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,3.524597,3.147618,3.253797,3.340036,3.175985,3.226722,3.253797,3.228718,3.007536,3.057642,...,3.175985,3.340036,3.471311,3.220295,3.149263,3.175985,3.504087,3.504087,3.504087,3.326675
6037,3.718176,3.955976,3.623865,3.707459,3.536603,3.693922,3.623865,3.808963,3.567154,3.745090,...,3.536603,3.707459,3.872642,3.704528,3.668115,3.536603,3.878315,3.878315,3.878315,3.773215
6038,3.525651,3.333333,4.053531,3.880408,3.910287,2.924951,4.053531,3.500000,2.774852,3.258284,...,3.910287,3.880408,3.555556,3.208460,3.000000,3.910287,3.850528,3.850528,3.850528,3.425264
6039,3.628693,3.711403,3.757406,3.884480,3.725188,4.043262,3.757406,3.809745,3.953517,4.075230,...,3.725188,3.884480,3.752265,4.057853,4.176269,3.725188,4.043773,4.043773,4.043773,4.110021
6040,3.445871,3.442214,3.341634,3.518758,3.205404,3.603518,3.341634,3.423197,2.918734,3.246415,...,3.205404,3.518758,3.333698,3.567490,3.951624,3.205404,3.832112,3.832112,3.832112,3.891868

In [9]:
ratings = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 1M\\ratings.dat', sep='::',engine='python',
                      names=['user', 'item', 'rating', 'timestamp'])
ratings = ratings.drop(['timestamp'],axis=1)
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
ratings

item,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user,,,,,,,,,,,,,,,,,,,,,
1,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6040,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# MAE

In [10]:
%%time
MAE = abs(ratings-prediction)
MAE.mean(axis=1).mean()

Wall time: 747 ms

0.7311479271719743

# RMSE

In [11]:
%%time
RMSE = ((((MAE**2).mean(axis=1)))**(1/2)).mean()
RMSE

Wall time: 1.31 s

0.9065126115453057

In [10]:
predicted = []
users = []
for i in range(0,prediction.shape[0]):
    predicted.append(prediction.iloc[i,:].nlargest(100))
    users.append([i+1]*100)
predicted = pd.concat(predicted, ignore_index=False)
predicted = pd.DataFrame(predicted)
predicted.columns = ['score']
user = pd.DataFrame(users)
user = pd.DataFrame(user.values.flatten())
user.index = predicted.index
predicted['user'] = user
predicted.reset_index(level=0, inplace=True)
predicted

        item     score  user
0        632  5.000000     1
1        665  5.000000     1
2        760  5.000000     1
3       1450  5.000000     1
4       1927  5.000000     1
...      ...       ...   ...
603995  3880  4.500000  6040
603996  3881  4.500000  6040
603997  3890  4.500000  6040
603998  3913  4.500000  6040
603999   652  4.458636  6040

[604000 rows x 3 columns]

In [12]:
from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit import topn

# nDCG

In [14]:
def model_ndcg():
    test_data = []
    for train, test in xf.partition_users(rating[['user', 'item', 'rating']], 5, xf.SampleFrac(0.2)):
        test_data.append(test)
    test_data = pd.concat(test_data, ignore_index=True)

    rla = topn.RecListAnalysis()
    rla.add_metric(topn.ndcg)
    results = rla.compute(predicted, test_data)

    return results.ndcg.mean()

In [16]:
%%time
array = []
for i in range(1,100,1):
    array.append(model_ndcg())

Wall time: 39min 42s

In [17]:
metric = pd.DataFrame(array)
metric.columns = ['nDCG']
print(metric.mean())
metric.sort_values(by=['nDCG'],ascending=False).head(5)

nDCG    0.01402
dtype: float64

        nDCG
35  0.014731
72  0.014706
56  0.014592
81  0.014517
7   0.014500

In [21]:
metric = metric.sort_values(by=['nDCG'],ascending=False)
metric.head(10)

        nDCG
35  0.014731
72  0.014706
56  0.014592
81  0.014517
7   0.014500
8   0.014464
74  0.014459
62  0.014453
93  0.014445
44  0.014413

In [18]:
metric.to_csv('metric_nDCG.csv', index=False)

# MRR

In [13]:
def model_mrr():
    test_data = []
    for train, test in xf.partition_users(rating[['user', 'item', 'rating']], 5, xf.SampleFrac(0.2)):
        test_data.append(test)
    test_data = pd.concat(test_data, ignore_index=True)
    rla = topn.RecListAnalysis()
    rla.add_metric(topn.recip_rank)
    mrr = rla.compute(predicted, test_data)
    return mrr['recip_rank'].mean()

In [14]:
%%time
array = []
for i in range(1,100,1):
    array.append(model_mrr())

Wall time: 45min 38s

In [17]:
metric.head(10).mean()

MRR    0.021608
dtype: float64

In [15]:
metric = pd.DataFrame(array)
metric.columns = ['MRR']
metric = metric.sort_values(by=['MRR'],ascending=False)
print(metric.mean().head(10))
metric

MRR    0.0203
dtype: float64

         MRR
98  0.022069
78  0.021973
38  0.021744
23  0.021691
15  0.021582
..       ...
81  0.019034
71  0.018958
82  0.018897
25  0.018843
37  0.018625

[99 rows x 1 columns]

In [ ]:
metric.to_csv('metric_MRR.csv', index=False)

# F1, Precision, Recall

In [19]:
def model_f1():
    test_data = []
    for train, test in xf.partition_users(rating[['user', 'item', 'rating']], 5, xf.SampleFrac(0.2)):
        test_data.append(test)
    test_data = pd.concat(test_data, ignore_index=True)
    rla1 = topn.RecListAnalysis()
    rla2 = topn.RecListAnalysis()
    rla1.add_metric(topn.precision)
    rla2.add_metric(topn.recall)
    prec = rla1.compute(predicted, test_data)
    rec = rla2.compute(predicted, test_data)
    F1 = ((prec['precision'].values*rec['recall'].values*2)/(prec['precision'].values+rec['recall'].values))
    F1 = np.nan_to_num(F1)
    return [F1.mean(),prec['precision'].mean(),rec['recall'].mean()]

In [20]:
%%time
array = []
for i in range(1,100,1):
    array.append(model_f1())

Wall time: 1h 17min 31s

In [21]:
metric = pd.DataFrame(array)
metric.columns = ['F1','Precision','Recall']

metric = metric.sort_values(by=['F1'],ascending=False)
print(metric.head(10).mean())

F1           0.009135
Precision    0.007066
Recall       0.025991
dtype: float64

In [22]:
metric.head(10)

          F1  Precision    Recall
80  0.009248   0.007118  0.026670
10  0.009219   0.007123  0.026696
58  0.009208   0.007136  0.025839
42  0.009163   0.007051  0.026673
85  0.009115   0.007046  0.025805
4   0.009101   0.007053  0.025843
66  0.009097   0.007055  0.026072
56  0.009078   0.007020  0.025597
32  0.009065   0.007007  0.025540
55  0.009051   0.007048  0.025170

In [ ]:
metric.to_csv('metric_F1.csv', index=False)