<img src="https://www3.um.edu.uy/logoum.jpg" width=300>
<h1 align="center">Thesis - Content Based</h1> 
<h2 align="center">Alejo Paullier</h2>

In [9]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('C:\\Users\\Alejo\\Tesis\\Demo\\ml-100k\\u.data', sep='\t',
                      names=['user', 'item', 'rating', 'timestamp'])

ratings = ratings.drop(['timestamp'],axis=1)

ratings.head(5)

   user  item  rating
0   196   242       3
1   186   302       3
2    22   377       1
3   244    51       2
4   166   346       1

# Boolean ratings

In [10]:
boolean = ratings.copy()
boolean['rating'] = boolean['rating'].replace([1,2,3,4,5],1)
boolean.head(5)

   user  item  rating
0   196   242       1
1   186   302       1
2    22   377       1
3   244    51       1
4   166   346       1

# Genres matrix

In [11]:
m_cols = ['movie id','movie title','release date','video release date','IMDb URL',
          'unknown','Action','Adventure','Animation','Children','Comedy','Crime',
          'Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery',
          'Romance','Sci-Fi','Thriller','War','Western']
movies = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 100k\\u.item', sep='|', names=m_cols,encoding='latin-1')
movies = movies.set_index('movie id')
movies = movies.drop(['video release date'],axis = 1)
genres = movies.drop(['movie title','release date','IMDb URL'],axis = 1)
genres.head()

,unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie id,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

# Pivot Ratings matrix

In [12]:
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
OldMin = 1
OldMax = 5
NewMin = -1
NewMax = 1
ratings = (((ratings - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
ratings = ratings.fillna(0)
ratings.head()

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,0.5,0.0,0.0,1.0,0.5,-1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Pivot Boolean matrix

In [13]:
boolean = boolean.pivot(index = 'user',columns='item',values ='rating')
boolean = boolean.fillna(0)
boolean.head()

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Profile matrix

In [14]:
np.seterr(divide='ignore', invalid='ignore')
dot = boolean.values.dot(genres.values)
dot = pd.DataFrame(dot)
profile = pd.DataFrame((ratings).values.dot(genres.values), columns=genres.columns, index=(ratings).index)
profile = profile.values/(dot.values)
profile = pd.DataFrame(profile)
profile.columns = genres.columns
profile = profile.fillna(0)
profile.head()

,unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.5,0.166667,-0.035714,0.166667,-0.400000,0.236264,0.220000,0.9,0.462617,0.25,1.00,0.230769,-0.038462,0.300000,0.465909,0.500000,0.307692,0.340000,0.333333
1,0.0,0.400000,0.666667,0.500000,0.000000,0.406250,0.388889,0.0,0.414286,0.00,0.75,0.000000,0.000000,0.250000,0.562500,0.375000,0.291667,0.333333,0.000000
2,0.0,-0.107143,0.250000,0.000000,0.000000,-0.208333,0.000000,1.0,-0.045455,0.00,-0.25,-0.300000,-0.500000,0.090909,0.200000,-0.125000,-0.238095,-0.100000,0.000000
3,0.0,0.437500,0.250000,0.000000,0.000000,1.000000,0.875000,1.0,0.750000,0.00,0.00,0.500000,1.000000,0.500000,0.666667,0.416667,0.454545,0.750000,0.000000
4,0.5,0.071429,0.121212,0.392857,-0.275862,0.000000,0.444444,0.0,-0.166667,-0.25,1.00,-0.232143,0.166667,0.000000,-0.342105,0.257576,-0.026316,0.107143,-0.250000

# Compute predictions

In [15]:
count = genres.sum(axis=1)
count = (pd.DataFrame(count))
prediction = pd.DataFrame((genres.values.dot((profile.T).values))/count.values, columns=(profile.T).columns, index=genres.index)
prediction = prediction.T
prediction.columns = ratings.columns
prediction.index = ratings.index
prediction.head()

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,0.000977,0.146215,0.307692,0.288516,0.330103,0.462617,0.481308,0.099627,0.462617,0.401308,...,0.237179,0.462617,0.462617,0.462617,0.462617,0.462617,0.386801,0.464263,0.236264,0.462617
2,0.302083,0.452778,0.291667,0.406845,0.364947,0.414286,0.394643,0.273512,0.414286,0.373810,...,0.345833,0.414286,0.414286,0.414286,0.414286,0.414286,0.427083,0.488393,0.406250,0.414286
3,-0.069444,-0.031746,-0.238095,-0.120310,-0.094517,-0.045455,-0.085227,-0.084596,-0.045455,-0.072727,...,-0.172619,-0.045455,-0.045455,-0.045455,-0.045455,-0.045455,-0.019048,0.077273,-0.208333,-0.045455
4,0.333333,0.380682,0.454545,0.729167,0.693182,0.750000,0.583333,0.583333,0.750000,0.750000,...,0.446023,0.750000,0.750000,0.750000,0.750000,0.750000,0.560606,0.708333,1.000000,0.750000
5,0.038998,0.055442,-0.026316,-0.031746,0.083821,-0.166667,0.045455,-0.147510,-0.166667,-0.029762,...,0.022556,-0.166667,-0.166667,-0.166667,-0.166667,-0.166667,-0.184211,-0.254386,0.000000,-0.166667

# Reset predictions to 1-5 star scale

In [16]:
OldMin = -1
OldMax = 1
NewMin = 1
NewMax = 5
prediction = (((prediction - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
prediction.head()

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,3.001954,3.292430,3.615385,3.577031,3.660206,3.925234,3.962617,3.199254,3.925234,3.802617,...,3.474359,3.925234,3.925234,3.925234,3.925234,3.925234,3.773601,3.928526,3.472527,3.925234
2,3.604167,3.905556,3.583333,3.813690,3.729894,3.828571,3.789286,3.547024,3.828571,3.747619,...,3.691667,3.828571,3.828571,3.828571,3.828571,3.828571,3.854167,3.976786,3.812500,3.828571
3,2.861111,2.936508,2.523810,2.759380,2.810967,2.909091,2.829545,2.830808,2.909091,2.854545,...,2.654762,2.909091,2.909091,2.909091,2.909091,2.909091,2.961905,3.154545,2.583333,2.909091
4,3.666667,3.761364,3.909091,4.458333,4.386364,4.500000,4.166667,4.166667,4.500000,4.500000,...,3.892045,4.500000,4.500000,4.500000,4.500000,4.500000,4.121212,4.416667,5.000000,4.500000
5,3.077997,3.110883,2.947368,2.936508,3.167641,2.666667,3.090909,2.704981,2.666667,2.940476,...,3.045113,2.666667,2.666667,2.666667,2.666667,2.666667,2.631579,2.491228,3.000000,2.666667