![](logoUM.png)
<h1 align="center">Thesis: Content Based</h1> 
<h2 align="center">Alejo Paullier</h2>

# Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy as sp
import pylab as pl
from IPython.display import Image

# 1) Item-Genre matrix

# Import data

In [2]:
movies = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 20M\\ml-20m\\movies.csv', sep=',',header='infer')
movies.columns = ['item','title','genres']
movies.head(10)

,item,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

# Turn genres strings into lists

In [3]:
movies['genres'] = [x.split('|') for x in movies['genres']]

# Explode lists

In [4]:
movies = movies.explode('genres')
movies.drop(['title'],axis=1)
movies['value'] = 1
movies.head(10)

   item                    title     genres  value
0     1         Toy Story (1995)  Adventure      1
0     1         Toy Story (1995)  Animation      1
0     1         Toy Story (1995)   Children      1
0     1         Toy Story (1995)     Comedy      1
0     1         Toy Story (1995)    Fantasy      1
1     2           Jumanji (1995)  Adventure      1
1     2           Jumanji (1995)   Children      1
1     2           Jumanji (1995)    Fantasy      1
2     3  Grumpier Old Men (1995)     Comedy      1
2     3  Grumpier Old Men (1995)    Romance      1

# Pivot

In [5]:
movies = movies.pivot(index = 'item',columns='genres',values ='value')
movies = movies.fillna(0)
movies

genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
item,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131254,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131256,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131258,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131260,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131262,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Normalize

In [6]:
movies = movies.divide(((((movies.T)**2).sum())**(1/2)),axis=0)
movies

genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
item,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.447214,0.447214,0.447214,0.447214,0.0,0.0,0.00000,0.447214,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.577350,0.000000,0.577350,0.000000,0.0,0.0,0.00000,0.577350,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.000000,0.000000,0.707107,0.0,0.0,0.00000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.707107,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.000000,0.000000,0.577350,0.0,0.0,0.57735,0.000000,0.0,0.00000,0.0,0.0,0.0,0.577350,0.0,0.0,0.0,0.0
5,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131254,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
131256,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
131258,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
131260,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
131262,0.0,0.0,0.577350,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.577350,0.0,0.57735,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [7]:
movies.to_csv('itemgenre.csv', index=False)

# 2) Ratings matrix

In [2]:
ratings = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 20M\\ml-20m\\ratings.csv', sep=',',header='infer')
ratings.columns = ['user', 'item', 'rating', 'timestamp']
ratings.head(5)

   user  item  rating   timestamp
0     1     2     3.5  1112486027
1     1    29     3.5  1112484676
2     1    32     3.5  1112484819
3     1    47     3.5  1112484727
4     1    50     3.5  1112484580

In [7]:
ratings['item'].nunique()

26744

In [10]:
ratings.drop(['timestamp'],axis=1)
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
ratings = ratings.fillna(0)
ratings

ValueError: Unstacked DataFrame is too big, causing int32 overflow